<div class="form-row">
    <div class="form-item">
      <label>Title</label>
      <input type="text" name="title" value="<%= card.title %>">
    </div>
    <div class="form-item">
      <label>Idol</label>
      <select name="idol">
        <% idols.forEach(idol => { %>
          <% if (idol.id === card.idol) { %>
            <option selected label="<%= idol.name %>" value="<%= idol.id %>">
          <% } else { %>
            <option label="<%= idol.name %>" value="<%= idol.id %>">
          <% } %>
        <% }) %>
      </select>
    </div>
  </div>

  <div class="form-row">
    <div class="form-item">
        <label>Version</label>
        <input type="text" name="version" value="<%= card.version %>">
    </div>
    <div class="form-item">
        <label>Own</label>
        <label for="yes">Yes</label>
        <input type="radio" name="have" id="yes" value="<%= card.have%>">
        <label for="no">No</label>
        <input type="radio" name="have" id="no" value="<%= card.have %>">
    </div>
 </div>


<div class="form-row">
    <div class="form-item">
        <label>Date Acquired</label>
        <input type="date" name="acquireDate"
            value="<%= card.acquireDate == null ? "" :
            card.acquireDate.toISOString().split('T')[0] %>
        ">
    </div>
</div>

<div class="form-row">
    <div class="form-item form-item-no-grow">
      <label>Card Image</label>
      <input type="file" name="cardImg" class="card-img filepond">
    </div>
    <div class="form-item">
      <label>Description</label>
      <textarea name="description"><%= card.description %></textarea>
    </div>
  </div>


