<div class="form-row">
  <div class="form-item">
    <label>Title</label>
    <input type="text" name="title" value="<%= card.title %>">
  </div>
  <div class="form-item">
    <label>Idol</label>
    <select name="idol">
      <% idols.forEach(idol => { %>
        <% if (idol.id === card.idol) { %>
          <option selected label="<%= idol.name %>" value="<%= idol.id %>">
        <% } else { %>
          <option label="<%= idol.name %>" value="<%= idol.id %>">
        <% } %>
      <% }) %>
    </select>
  </div>
</div>

<div class="form-row">
  <div class="form-item">
    <label>Date Acquired</label>
    <input type="date" name="acquireDate"
          value="<%= card.acquireDate == null ? '' : card.acquireDate.toISOString().split('T')[0] %>">
  </div>
  <div class="form-item">
    <label>Card Count</label>
    <input type="number" name="cardCount" min="0" value="<%= card.cardCount %>">
  </div>
</div>

<div class="form-row">
  <div class="form-item form-item-no-grow">
    <label>Cover</label>
    <input type="file" name="cover" class="card-cover filepond">
  </div>
  <div class="form-item">
    <label>Description</label>
    <textarea name="description"><%= card.description %></textarea>
  </div>
</div>